* {
    margin: 0;
    padding: 0;
}

.todo-container{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  

header {
    height: 78px;
    background: #356c71;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 32px;
}

header .links {
    display: flex;
    flex-direction: row;
}

.links > div {
    margin-left: 31px;
    position: relative;
}

.links > div:before {
    content: "";
    height: 8px;
    width: 8px;
    background: white;
    display: inline-block;
    position: absolute;
    left: -19px;
    top: 5px;
    border-radius: 50%;
}

.links > div > a {
    text-decoration: none;
    color: white;
}


.links > div:first-child:before {
    display: none;
}

.container {
    background-image: url("../img/funky-lines.png");
    height: 800px;
}

.container .welcome-div {
    height: 170px;
    border: 1px solid #333333;
}

.container .slideshow {
    height: 220px;
    border: 1px solid #333333;
}




.todo-container .todos {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #eee;
    padding: 40px;
    background:rgb(252, 249, 249);
}

.todo-list > div {
    background: #51aaf71f;
    padding: 12px;
    margin: 12px 0;
}

.todo-list :hover{
    background-color: rgb(202, 218, 226);
}



.todo-list > div input[type="checkbox"] {
    width: 25px;
    height: 25px;
    float:left;
}

.todo-list > div .todo-item {
    float: left;
}

#todo-input, #desc-input {
    height: 24px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #bbb;
    padding-left: 4px;
    font-style: italic;
    font-weight: bold;
}

::placeholder{
    color: rgba(156, 156, 156, 0.733);
}



#add-todo-btn {
    float: right;
    background: #cccccc;
    border: none;
    height: 29px;
    padding: 0 26px;
    color: white;
    font-weight: 600;
    font-size: 26px;
    border-radius: 3px;
}

#add-todo-btn:hover{
    background-color: #9A9897;
    opacity: 1;
}


.task-left{
    padding: 5px;
    margin-top: 10px;
}


